*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.625;
  margin: 0;
  color: #6F6F6F;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .3s;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(/img/stephan-bedase.jpg) center center / cover no-repeat;
  color: #FFF;
}

.topbar {
  padding: 18px 20px;
  font-size: .875rem;
  text-transform: uppercase;
  text-align: center;
}

.menu-item:hover {
  color: #C89446;
}

.logo {
  margin-bottom: 15px;
}

.menu-item {
  display: inline-block;
  margin: 0 15px;
}

.baseline {
  padding: 50px 0 70px 0;
  text-align: center;
  line-height: 1;
}

.baseline-welcome {
  font-family: 'Pinyon Script', serif;
  color: #C89446;
  display: block;
  font-size: 2.2rem;
}

.baseline-name {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.baseline-slogan {
  font-size: 1rem;
  font-weight: 300;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-button {
  border: solid 1px #C89446;
  padding: 7px 10px;
  transition-property: color, background-color;
  margin-top: 5px;
}

.menu-button:hover {
  background: #C89446;
  color: #FFF;
}

.home-section {
  padding-top: 9px;
}

.container-small {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1150px;
}

.block {
  margin-bottom: 50px;
}

.title {
  font-size: 1.75rem;
  line-height: 1.1;
  letter-spacing: 2px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0 0 0;
}

.title span {
  font-family: 'Pinyon Script', serif;
  color: #C89446;
  font-size: 2.5rem;
  display: block;
  text-transform: none;
}

.title::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #C89446;
  margin-bottom: .5rem;
}

.more {
  color: #C89446;
}

.more a:hover {
  text-decoration: underline;
}

.more a::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 9px;
  margin-left: .7em;
  background: url(img/arrow-right.svg) center center no-repeat;
  transition: transform .3s;
}

.more a:hover::after {
  transform: translateX(3px);
}





/*footer*/

.footer {
  background: #383838;
  font-weight: 300;
  color: #FFF;
  padding: 40px 0;
}

.footer-title {
  color: #C89446;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.25em;
}

.footer-column {
  margin-bottom: 2rem;
}


@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  .logo {
    margin-bottom: 0;
  }

  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
  }

  .baseline {
    padding: 125px 0 230px;
  }

  .baseline-slogan {
    font-size: 1.5rem;
  }

  .baseline-name {
    font-size: 4.375rem;
    letter-spacing: 12px;
    padding-top: 8px;
    padding-bottom: 18px;
  }

  .baseline-welcome {
    font-size: 3.75rem;
  }

  .menu-button {
    margin-top: 0;
    margin-right: 0;
  }
}



@media only screen and (min-width: 960px) {

  .block-img {
    border: none;
    position: relative;
  }


  .more {
    display: block;
    margin-top: 1.3rem;
  }

  .home-section {
    background:
      fixed top 95px right 0px url(/img/oranges.jpg) no-repeat,
      fixed top 640px left 0px url(/img/spices.jpg) no-repeat;
  }

  .block-chief {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  .block-chief .block-img::before {
    display: none;
  }

  .block-chief .block-img {
    flex: none;
    width: 404px;
    order: 2;
  }



  .footer {
    background-image: url(/img/splash.png);
  }

  .footer-columns {
    display: flex;
    justify-content: space-between;
  }

  .footer-column {
    width: 290px;
    margin-right: 50px;
  }

  .footer-column:first-child {
    width: 450px;
  }

  .footer-column:last-child {
    margin-right: 0;
    flex: none;
  }

  .footer a {
    text-decoration: underline;
  }

  .footer a:hover {
    color: #C89446;
  }

  .footer ul {
    padding-left: 0;
    list-style: none;
  }

  .footer ul li::before {
    content: '- ';
  }

  .footer-credits {
    font-size: 0.93em;
  }

  .footer-credits span {
    font-weight: bold;
  }

}




